body
{
    background-color:#aaa;
    font-family: 'Righteous', cursive;
}

center
{
    margin-top:30px;
    transition: ease-in-out .3s;
    animation:brand linear infinite 4s;
}

.address
{
    position:relative;
    bottom:-520px;
    left:0;
    width:100%;
    padding:10px;
    text-align:center;
    animation:brand linear infinite 5s;
}

@keyframes brand
{
    0%{margin-top:30px}
    50%{margin-top:50px}
    100%{margin-top:30px}
}

.my-nav
{
    transition:ease-in-out 1s;
    box-shadow: 0px 60px 25px rgba(0,0,0,0.3);
    float:left;
    box-sizing:border-box;
    width:100%;
    padding:10px;
    min-height:30px;
    border-radius:10px;
    background-color:rgb(20,30,30);
}

.box-big
{
    transition:ease-in-out 1s;
    position:absolute;
    height:420px;
    width:420px;
    box-shadow:0px 40px 25px rgba(0,0,0,0.1);
    background-color:rgba(255,255,255,0.02);
}

.big{
    animation:brand ease-in-out infinite 5s;
    transform:rotate(5deg);
    right:90px;
    top:100px;
    opacity:0.8;
}

.big2{
    animation:brand ease-in-out infinite 5s;
    transform:rotate(-5deg);
    right:520px;
    top:40px;
    opacity:0.8;
}

.box
{
    padding:15px;
    animation:brand ease-in-out infinite 4s;
    transition:ease-in-out 1s;
    position:absolute;
    height:150px;
    font-size:12px;
    width:150px;
    color:#ccc;
    z-index:0;
    box-shadow:0px 40px 30px rgba(0,0,0,0.1);
    background-color:rgba(255,255,255,0.02);
}

.ld-btn
{
    border:none;
    display:block;
    float:left;
    box-sizing:border-box;
    font-size:10px;
    width:100%;
    text-align:center;
    padding:5px;
    background-color:transparent;
}

.ld-btn:hover
{
    background-color:orange;
    color:#fff;
}

.no1
{
    transform:rotate(15deg);
    top:50px;
    left:50px;
}

.no2
{
    transform:rotate(20deg);
    top:180px;
    left:200px;
}

.no3
{
    transform:rotate(30deg);
    right:80px;
    top:20px;
}

.mynav-menu
{
    float:left;
    box-sizing:border-box;
    width:33.33333333333333333%;
    text-align:center;
    padding:5px;
    color:#555;
    font-weight:bold;
    font-size:12px;
    text-transform: uppercase;
    transition: ease-in-out 1s;
}

.mynav-menu:hover
{
    text-decoration: none;
    color:#fff;
}

.mynav-menu:focus
{
    text-decoration:none;
    color:#fff;
}

.lean-left
{
    margin-left:40px;
    transform:rotate3d(0,1,1,3deg);
}

.lean-right
{
    margin-left:-40px;
    transform:rotate3d(0,1,1,-3deg);
}

.btn-active
{
    transform:scale(1.2);
    color:orange;
}

.big-right1{
    transform:rotate(-3deg);
    right:170px;
}
.big-right2{
    transform:rotate(5deg);
    right:520px;
}

.big-left1{
    transform:rotate(2deg);
    right:30px;
}
.big-left2{
    transform:rotate(-2deg);
    right:420px;
}

.box-right-1
{
    transform:rotate(35deg);
    left:20px;
}
.box-right-2
{
    transform:rotate(25deg);
    left:150px;
}
.box-right-3
{
    transform:rotate(35deg);
    right:120px;
}

.box-left-1
{
    transform:rotate(15deg);
    left:110px;
}
.box-left-2
{
    transform:rotate(25deg);
    left:230px;
}
.box-left-3
{
    transform:rotate(35deg);
    right:40px;
}

.info-wrap
{
    background-image:url("me.jpg");
    background-size:cover;
    background-position: center;
    position:absolute;
    top:0;
    left:0;
    transform:rotate(3deg);
    background-color:rgba(0,0,0,0.2);
    width:100%;
    max-height:600px;
    overflow-y:auto;
    padding:10px;
    display:none;
    border:4px solid rgba(0,0,0,0.2);
}

.bio-wrap
{
    max-height:600px;
    background-color:rgba(0,0,0,0.2);
    position:absolute;
    top:0;
    border:4px solid rgba(0,0,0,0.2);
    transform:rotate(-3deg);
    left:0;
    width:100%;
    padding:10px;
    display:none;
    background-image:url("me2.jpeg");
    background-size:cover;
    background-position: right;
}

.opacitor
{
    opacity:1;
}

.z-index
{
    z-index:99999;
}

.full-width
{
    position:absolute;
    top:-5px;
    right:920px;
    background-color:rgba(255,255,255,0.3);
    width:30%;
    height:90%;
    transform: rotate(0deg);
}

.info-desc
{
    float:left;
    box-sizing:border-box;
    width:100%;
    padding:10px;
    color:#000;
}

.bio-desc
{
    float:left;
    box-sizing:border-box;
    width:100%;
    padding:10px;
    color:#000;
}
